/*
$color-alpha: #42c4de;
$color-betha: #000000;
$color-delta: #ffffff;
*/

.logo {
  height: 200px;
  display: block;
  background-image: url("../img/logo.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.cover {
  height: 800px;
  background-image: linear-gradient(#000000, #42c4de, #ffffff);
}

